{{ partial "header" . }}
{{ partial "nav" . }}
<main>
  <div class="container">
    <div id="title_data">
      <div id="title_text">
	<h1>{{ .Title }}</h1>
        <p id="upload_date" class="icon icon-clock">投稿日:{{ .Date.Local.Format "2006/01/02 15:04" }}</p>
        <p id="tags" class="icon icon-tags">タグ:
        <span>
          {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
          {{ end }}
        </span>
        </p>
      </div>
      <img src="{{ if .Params.imgUrl }}{{ .Params.imgUrl }}{{else}}{{ end }}" alt="{{ .Title }}のサムネイル">
      {{ if .Params.imageBy }}
        <p class="imageByText">画像出典 : {{ .Params.imageBy | markdownify }}</p>
      {{ end }}
    </div>
    {{if not .Date.IsZero }}<h2 class="subtitle is-6"></h2>{{ end }}
    {{ if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
    {{ partial "adsense" . }}
    {{ end }}
    <div id="blog_main">
      {{ .Content }}
      {{ partial "AdsNinjaB" . }}
      {{ partial "related.html" . }}
    </div>
  </div>
</main>
{{ partial "footer" . }}
