{{ $related := .Site.RegularPages.Related . | first 4 }}
{{ with $related }}
    <style>
        div#relatedWrap {width: 100%; height: 300px; display: flex;}
        div#relatedWrap div.relatedNews {width: calc(20% - 10px); height: 250px; padding: 0 5px;}
        div#relatedWrap div.relatedNews a {text-decoration: none;}
        div#relatedWrap div.relatedNews a img {width: 100%; height: 100px; display: block; object-fit: cover;}
        div#relatedWrap div.relatedNews a span {width: 100%; height: 150px; display: block; color: #121212; padding: 0 0 0 2px;}
        div#relatedWrap div.relatedNews a img.adImg {object-fit: contain;}
        div#relatedWrap div.relatedNews a span span.adTxt {display: block; width: 2rem; margin: 3px 0; padding: 1px; height: .7rem; line-height: calc(0.7rem + 2px); text-align: center; font-size: .6rem; color: #9a9a9a; border: 1px solid #9a9a9a; border-radius: 3px;}
        div#relatedWrap div.relatedNews a span span.adContent {width: 100%; height: calc(150px - 0.7rem); padding: 0; margin: 0;}

        @media screen and (max-width: 670px) {
            div#relatedWrap {width: 100%; height: 400px; display: block;}
            div#relatedWrap div.relatedNews {width: 100%; height: 70px; padding: 5px 0;}
            div#relatedWrap div.relatedNews a {width: 100%; height: 100%; display: flex;}
            div#relatedWrap div.relatedNews a img {width: 100px; height: 100%; display: block; object-fit: cover;}
            div#relatedWrap div.relatedNews a span {width: calc(100% - 80px); height: 100%; display: block;}
        }
    </style>
    <h3>おすすめ記事</h3>
    <div id="relatedWrap">
        {{ range . }}
        <div class="relatedNews">
            <a href="{{ .RelPermalink }}">
                <img src="
                    {{ if .Params.imgUrl }}
                        {{ .Params.imgUrl }}
                    {{else}}
                        /images/default.JPG
                    {{ end }}" alt="{{ .Title }}のサムネイル">
                <span>{{ .Title }}</span>
            </a>
        </div>
        {{ end }}
        <div id="relatedNewsAD" class="relatedNews"></div>
    </div>
    <script>
        var req = new XMLHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4) {
                if (req.status == 200) {
                    data = req.responseText;
                    console.log(data);
                    const dataArray = []; //配列を用意
                    const dataString = data.split('\n'); //改行で分割
                    for (let i = 0; i < dataString.length; i++) { //あるだけループ
                        dataArray[i] = dataString[i].split(',');
                    }
                    console.log(dataArray);

                    const adsNum = Math.floor(Math.random() * dataArray.length);

                    document.getElementById("relatedNewsAD").innerHTML = `
                        <a href="https://mttag.com/s/${dataArray[adsNum][1]}">
                            <img class="adImg" src="https://mttag.com/banner/${dataArray[adsNum][1]}" alt="広告">
                            <span><span class="adTxt">広告</span><span class="adContent">${dataArray[adsNum][0]}</span></span>
                        </a>
                    `;
                }
            }
        }
        req.open('GET', '/adsList.csv', true);
        req.send();
    </script>
{{ end }}